<div class="popover-region-cart popover-region collapsed">
    <a class="nav-link icon-no-margin btn-cart position-relative" href="{{view_url}}">
        <i class="icon fa fa-shopping-cart fa-fw"></i>
        <span class="count-container" data-count="{{count}}">{{count}}</span>
    </a>
</div>
