<div class="cart-enrol d-flex flex-column align-items-center py-3">
    <div class="cart-enrol__price">
        {{#instance.discount}}<div class="cart-item__price"><del class="price currency">{{{instance.priceFormatted}}}</del></div>{{/instance.discount}}
        {{#instance.payable}}<div class="cart-item__payable"><span class="payable currency">{{{instance.payableFormatted}}}</span></div>{{/instance.payable}}
    </div>
    <div class="cart-enrol__btn mt-2">
        <a class="btn btn-secondary btn-add-to-cart" href="{{{instance.addToCartUrl}}}">
            <i class="fa fa-cart-plus"></i>{{#str}} add_to_cart, enrol_cart {{/str}}
        </a>
    </div>
</div>