<div class="cart-view">

    {{> enrol_cart/_items }}

    {{> enrol_cart/_detail }}

    {{> enrol_cart/_summary_bill }}

    <div class="cart-summary cart-summary--status">
        <div class="cart-summary__grid">
            <div class="cart-summary__name">{{#str}} cart_status, enrol_cart {{/str}}:</div>
            <div class="cart-summary__value">{{{cart.statusNameFormattedHtml}}}</div>
        </div>
    </div>

    {{#show_actions}}

        <div class="cart-summary cart-summary--checkout">
            <a class="btn btn-primary btn-block" href="{{{checkout_url}}}">
                {{#str}} proceed_to_checkout, enrol_cart {{/str}}
            </a>
        </div>

        <div class="cart-summary cart-summary--cancel">
            <form action="{{{cancel_url}}}" method="post">
                <input type="hidden" name="id" value="{{cart.id}}"/>
                <input type="hidden" name="sesskey" value="{{session_key}}">
                <button class="btn btn-outline-secondary btn-block" type="submit">{{#str}}
                    cancel_cart, enrol_cart {{/str}}</button>
            </form>
        </div>

    {{/show_actions}}

</div>
